@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, .importfont {
    font-family:'Inter';
}

td {
    text-align:center;
    border:1px solid transparent;
    background-color:lightgray;
}